@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: Poppins;
  padding: 0;
  margin: 0;
  background-color: #ecf0f1;
}
a:hover {
  color: #76d7c4;
}
.container {
  padding-top: 5rem;
  padding-left: 30px;
  padding-right: 30px;
}
#pembukaan {
  padding-top: 18rem;
  padding-left: 10px;
  padding-right: 10px;
}
#tanggal {
  color: #922b21;
  padding-top: 20px;
}
.isi-cerita {
  padding-top: 20px;
  padding-bottom: 5rem;
}
